{% extends 'base.html' %}


{% block title %} Página Inicial {% endblock %}


{% block head %} {% endblock %}


{% block content %}

<section class="cont-Login">

    <div class="row text-center mb-4 mt-3">
        <div class="col">
            <h1><strong>Cadastro de turmas</strong></h1>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-3">
            <form action="" method="post" class="border rounded p-4 shadow-sm bg-white">
                {{ form.csrf_token }}

                <div class="mb-3">
                    {{ form.Pessoas.label(class="form-label") }}
                    {{ form.Pessoas(class="form-control") }}
                </div>

                <div class="mb-3">
                    {{ form.Nome.label(class="form-label") }}
                    {{ form.Nome(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.Destino.label(class="form-label") }}
                    {{ form.Destino(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.preco.label(class="form-label") }}
                    {{ form.preco(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.disponibilidade.label }} {{ form.disponibilidade() }}
                </div>
                <div class="mb-3">
                    {{ form.categoria.label(class="form-label") }}
                    {{ form.categoria(class="form-control") }}
                </div>
                {{ form.btnSubmit(class="btn btn-dark w-100 mt-3") }}
            </form>
        </div>

</section>

{% endblock %}
